* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fff;
    margin: 0;
}

div {
    width: 70%;
    height: auto;
    background-color: #fedfae;
    display: block;
    margin: 60px auto;
    text-align: center;
    padding: 30px;
    box-sizing: content-box;
    border-radius: 10px;
}

header {
    text-align: center;
    font-size: 20px;
    color: #660860;
}

textarea[name="user-input"] {
    width: 80%;
    height: 200px;
    display: block;
    margin: 30px auto;
    align-self: center;
    font-size: small;
    background-color: #fec0ab;
    border-radius: 8px;
    border: 1px solid #9380b7;
    box-shadow: 2px #660860;
    box-sizing: border-box;
}

textarea[:placeholder] {
    font-size: medium;
    text-align: center;
}

#reset-button {
    width: 20%;
    height: 40px;
    padding: 10px;
    display: block;
    font-size-adjust: 10;
    text-align: center;
    margin: auto;
    align-self: center;
    background-color: #660860;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    flex-grow: 3;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.counter {
    margin: 5px;
    display: block;
    padding: 10px;
    border: 1px #9380b7;
    align-self: center;
    background-color: #fff;
    display: inline-block;
    font-size: medium;
    box-sizing: border-box;
    border-radius: 7px;
}

footer {
    color: #9380b7;
    text-align: center;
    font-size: small;
    display: inline;
}

p {
    margin: 10px 0 0 0;
}